/* TODO: look into replacing with pure CSS in JS, the React way */

.element {
  border: 1px solid red;
  display: table;
}

.elementIndex,
.elementKey,
.elementValue,
.elementAddr {
  background-color: #ccc;
}
